/*Grid*/
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(90deg, transparent, transparent 50px, rgba(255, 255, 255, 0.2) 50px, rgba(255, 255, 255, 0.2) 51px);
  pointer-events: none;
  z-index: 9999;
}
body {
  background-color: transparent;
  margin: 0;
  padding: 0;

}
.navbar {
  background-color: #000;
  width: 100%;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.section-1 {
  width: 100%;
  height: auto;
  padding-top: 13%;
  padding-bottom: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.section-2 {
  width: 100%;
  height: auto;
  padding-top: 12%;
  padding-bottom: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-3 {
  width: 100%;
  height: auto;
  padding-top: 12%;
  padding-bottom: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-4 {
  width: 100%;
  height: auto;
  padding-top: 12%;
  padding-bottom: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-5 {
  width: 100%;
  height: auto;
  padding-top: 5%;
  padding-bottom: 15%;
}

.footer {
  width: 100%;
  height: auto;
  padding-top: 10%;
  padding-bottom: 10%;
  background-color: rgba(12, 12, 12, 0.97);
}

.button {
  width: 13rem;
  height: 4rem;
  font-size: 1.4rem;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid transparent;
}
.button2 {
  width: 13rem;
  height: 4rem;
  font-size: 1.4rem;
  text-decoration: none;
  background-color: #27FFFF;
  cursor: pointer;
  border: 1px solid transparent;
}
/* Dark Mode Styles */
.dark-mode .section-1,.dark-mode .section-2,
.dark-mode .section-3, .dark-mode .section-4,
.dark-mode .section-5,
.dark-mode .footer, .dark-mode .top , .dark-mode .arrow{
  color: white;
}

.dark-mode .section-1,
.dark-mode .section-3 {
  background-color: rgba(7, 7, 7, 0.40);
}
.dark-mode .section-5{
  background-color: rgba(150, 150, 150, 0.1);
}

.dark-mode .section-2,
.dark-mode .section-4 {
  background-color: #000;
}


.dark-mode .button {
  background-color: #D9D9D9;
}
.dark-mode input{
  color: white;
}
.dark-mode input::placeholder {
    color: black;
}
/* Light Mode Styles */
.light-mode .section-1, .light-mode.section-2,
.light-mode .section-3, .light-mode .section-4,
.light-mode .section-5,  .light-mode .footer, .light-mode  .top , .light-mode .arrow{
  color: black;
}
.light-mode .section-1,
.light-mode .section-3 {
  background-color: rgba(255, 255, 255, 0.9);
}
.light-mode.section-5{
  background-color: #FFFDFD;
}

.light-mode .section-2,
.light-mode .section-4{
  background-color: #F1F0F0;
}

.light-mode input::placeholder {
    color: white;
}
.light-mode .button {
  background-color: black;
  color: white;
}
.light-mode input{
  color: white;
}
.light-mode input {
  background-color: black; 
}



/*Universal*/
.fontsize{
  font-size: 17px;
}
.right-side {
  text-align: left;
  width: 50%;
  margin-right: 50px;
}

.left-side {
  text-align: left;
  width: 50%;
  margin-left: 50px;
}

.text-box2 {
  height: 50%;
}

.text-box3 {
  height: 50%;
}

.heading {
  font-size: 2.5rem;
}

/*Font*/
#title {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

#sub-title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

#words,
.button,
.arrow {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

#headline {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

#line {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#bold {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Inside Navbar*/
#logo {
  max-width: 100px;
  height: auto;
  margin: 0px;
  padding-left: 40px;
}

.tabs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
}

.tabs a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  margin-right: 50px;
}

/*Toggle*/

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #27FFFF;
}

input:focus+.slider {
  box-shadow: 0 0 1px #27FFFF;
}

input:checked+.slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.dark-mode {
  background-color: #333;
}

/* Section 1*/
.section-1 h1 {
  font-size: 4.5rem;
  margin-bottom: 30px;
}

.caption {
  font-size: 1.5rem;
  margin-top: 0px;
}

.text-box {
  width: 55%;
  height: 50%;
}

.section-1 button {
  margin-top: 30px;
}

/* Section 2*/
.arrow {
  font-size: 1.4rem;
  cursor: pointer;
}

a {
  text-decoration: none;
}

/* Section 3*/
.heading2 {
  font-size: 2rem;
}
/* Section 4*/
.left-side2 {
  width: 50%;
  text-align: right;
  margin-left: 50px;
}

.right-side2 {
  width: 50%;
  text-align: right;
  margin-right: 50px;
}

.heading3 {
  font-size: 2rem;
  margin-top: 0px;
}

/*Section 5*/
.top {
  margin-left: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.topline {
  cursor: pointer;
  font-size: 1.8rem;
}

.text-box4 {
  width: 60%;
  margin-bottom: 25px;
}




/*Form */

input {
  text-align: center;
  font-size: 16px;
  width: 100%;
  height: 60px;
  margin-bottom: 5px;
}

input::placeholder {
  font-size: 16px;
  padding-left: 20px;
  text-align: left;
}

.formGroup input {
  border: none; 
  padding: 10px;
  width: 100%; 
  box-sizing: border-box; 
  border-bottom: 2px solid #d2d2d2; 
}
.formGroup {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 20px;
}

.error {
  color: #ff2424; 
  padding-top: 0.5rem; 
  padding-bottom: 0.5rem; 
}
.icon-container {
    position: absolute;
    right: 0;
    top: -5px;
}

.error-icon img {
  width: 70px;
  height:70px;
  display:none;
}
.success-icon img {
  width: 70px;
  height:70px;
  display:none;
}


/*
.input-control input:focus {
  outline: 0;
  border-bottom: 3px solid #00f900; Border color when focused */

