* {
  text-decoration: none;
  list-style: none;
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
/* Header*/
.navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: right;
  background-color: black;
  height: 40px;
}
.links {
  display: flex;
}
.links li,
.dropdown-menu li {
  display: flex;
  margin: 8px;
}
.links li a,
.dropdown-menu li a {
  color: black;
  text-transform: uppercase;
  padding: 1rem;
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.links li a::after,
.dropdown-menu li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2.5px;
  background-color: black;
  transition: width 0.4s ease;
}
.dropdown-menu li a::after {
  background-color: black;
}
.links li a:hover::after,
.dropdown-menu li a:hover::after {
  width: 100%;
}
.bx-menu {
  color: black;
  cursor: pointer;
  font-size: 1.7rem;
  margin: 10px;
  display: none;
  padding: 10px;
}

#bottom-pic,
#middle-pic,
#top-pic {
  width: 100%;
  height: auto;
  left: 0;
  top: 0;
  object-fit: cover;
}

#middle-pic {
  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var--(scroll)* -1s);
  animation-iteration-count: 1;
  animation-fill-mode: both;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}



/* Dropdown Menu*/
.dropdown-menu {
  display: none;
  position: absolute;
  right: 2rem;
  height: 0;
  top: 4rem;
  width: 100%;
  max-width: 15.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
  z-index: 3;
}
.dropdown-menu.open {
  height: auto;
}
.dropdown-menu li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
}
.heroImg {
  position: absolute;
}
#headline {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Responsive to Different technology*/
@media (max-width: 992px) {
  .navbar .links {
    display: none;
  }
  .navbar .bx-menu {
    display: block;
  }
  .dropdown-menu {
    display: block;
  }
  .navbar {
    background-color: transparent;
  }
}